<div class="col-md-8 col-md-offset-2">
	<nav class="navbar navbar-default">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#products-menu-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse" id="products-menu-collapse">
			<ul class="nav navbar-nav products-menu-ul">
				<li class="products_list"><a href="javascript:;">Products</a></li>
				<li class="new_product"><a href="javascript:;">Add new product</a></li>
			</ul>
		</div>
	</nav>
	<div class="product-container">
	</div>
</div>
<div class="modal fade" id="product-details-modal" aria-hidden="true">
	<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
		</div>
		<div class="modal-body">
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
	</div>
	</div>
</div>