<div class="well well-lg">
	<div class="row">
		<div class="col-md-6">
			<%= name %>
		</div>
		<div class="col-md-3">
			<%= price %>
		</div>
		<div class="col-md-3 tr">
				<a href="javascript:;" class="edit-product"><i class="fa fa-edit"></i></a> | 
				<a href="javascript:;" class="delete-product"><i class="fa fa-trash"></i></a>
			</ul>
		</div>
	</div>
</div>