<div class="well well-lg">
	<div class="row">
		<div class="col-md-6">
			<%= name %>
		</div>
		<div class="col-md-3">
			<%= price %>
		</div>
		<div class="col-md-3">
			<a href="javascript:;" class="edit-product">Edit</a>
		</div>
	</div>
</div>